p {
    font-family: roboto, arial;
    margin-top: 0;
    margin-bottom: 0;
}

body {
    padding-top: 80px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 500px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(233, 233, 233);
  

}
