.thumbnail {
    width: 100%;
}
.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 40px;
}
@media (max-width:750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .video-grid {
    grid-template-columns: 1fr;
  }
  .channel-info {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .thumbnail {
    max-width: 100px;
  }
}
.time-stamps {
    position: relative;
}
.video-time {
    position: absolute;
    background-color: black;
    color: white;
    bottom: 10px;
    right: 5px;
    font-family: roboto, arial;
    font-size: 12px;
    padding: 4px;
}
.video-title {
    margin-top: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 10px;

}
.video-author, .video-stats {
    font-size: 12px;
    color: rgb(96, 96, 96);
    margin-bottom: 3px;
    margin-top: 0px;
}
.video-author{
    margin-bottom: 4px;
}
.channel-pic {
    width: 50px;
    vertical-align: top;
}
.channel-info {
    width:240px;
}
.profile-pic {
    width: 36px;
    border-radius: 50px;
}
.thumbnail-row {
    display: grid;
    grid-template-columns: 50px 1fr;
    margin-top: 8px;
}
